---
layout: page
title: Chi sono
group: navigation
tagline: Antonio Trento. Amministro ed implemento siti web e strategie di marketing.
tags : 
img :
author : Antonio Trento
css: 
js:
keywords: blog, Antonio Trento, web marketing
canonical: https://lantoniotrento.github.io/about
---
{% include JB/setup %}


<section class="cover-2 text-left">			
			<div class="cover-container">
				<div class="cover-inner container">
						<div class="row justify-center">
							<div class="col-lg-5 mt-5 mb-5 text-center text-lg-left">
								<h1 class="jumbotron-heading">Antonio Trento</h1>
								<p class="lead">Ideo ed implemento strategie per migliorare la visibilità su web.</p>
								<p>
								<a href="#" class="btn btn-outline-success btn-lg mb-2 mr-2 ml-2 pill-btn">Scopri di più</a>
							</p>
						</div>
						<div class="col-lg-5 offset-lg-2 mt-5 mb-5 text-center">
							<img class="img-fluid mt-5 mb-5" src="https://lantoniotrento.github.io/assets/images/placeholder-phone.png">
						</div>
					</div>
				</div>
			</div>
</section>

<section class="content-3 text-center">
			<div class="container">
				<h2>Come ti aiuto</h2>
				<p class="lead mb-5 constrain-width">Tutto quello che posso fare per te e il tuo business.</p>
				<div class="row justify-center">
					<div class="col-md-3 text-center text-md-right">
						<div class="col col-feature">
							<em class="fa fa-2x fa-paint-brush"></em>
							<h4>Clean Design</h4>
							<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
						</div>
						<div class="col col-feature">
							<em class="fa fa-2x fa-desktop"></em>
							<h4>Clean Design</h4>
							<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
						</div>
					</div>
					<div class="col-md-6 text-center">
						<img class="mb-4 img-fluid" src="https://lantoniotrento.github.io/assets/images/placeholder-phone.png">
					</div>
					<div class="col-md-3 text-center text-md-left">
						<div class="col col-feature">
							<em class="fa fa-2x fa-code"></em>
							<h4>Bootstrap 4</h4>
							<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
						</div>
						<div class="col col-feature">
							<em class="fa fa-2x fa-pencil"></em>
							<h4>Easy to Edit</h4>
							<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
						</div>
					</div>	
				</div>
			</div>
</section>
    
    <!-- Main container -->
    <div class="container main-container clearfix"> 
        <div class="col-md-6">
            <img src="http://placehold.it/1200x800" class="img-responsive" alt="" />
		<hr>
	    <a href="{{ BASE_PATH }}/servizi" class="btn2 draw-border">Servizi</a>	
        </div>
        <div class="col-md-6">
           <h3 class="uppercase">Antonio Trento </h3>
           <h5>Ti aiuto a costruire il tuo business su web.</h5>
           <div class="h-30"></div>
            <p>Benvenuto e grazie per essere approdato! Sono Antonio e vengo da Varese, ed opero in questa zona specialmente a Milano, mi diletto nello sviluppo di landing page, blog minimal e portfolio mirati allo sviluppo dell'immagine professionale del libero professionista, imprendotore o studente.</p>

		<p>Inoltre, sono serrato in strategie di marketing su internet, ed offro consulenze e consigli utili sul mio blog.</p>

		<p>Mi piacerebbe molto riuscire a intraprendere una carriera nel settore del web marketing per riuscire ad avere la possibilità di lavorare in team ed accresscere le mie esperienze.</p>

		<p>Nel tempo libero mi piace praticare snowboard, motociclismo, approfondire con il web design, giocare su steam.</p>

		<p>Ti invito a contattarmi se sei interessato nell'approfondire la mia conoscenza per propormi una collaborazione, un impiego nel mio settore o un'avventura imprenditoriale!</p>            

            <div class="h-10"></div>
            <ul class="social-ul">

                {% if site.author.facebook %}<li class="box-social"><a href="https://www.facebook.com/{{ site.author.facebook }}/"><i class="ion-social-facebook"></i></a></li>{% endif %}
                {% if site.author.linkedin %}<li class="box-social"><a href="https://www.linkedin.com/in/{{ site.author.linkedin }}"><i class="ion-social-linkedin"></i></a></li>{% endif %}
                {% if site.author.instagram %}<li class="box-social"><a href="https://www.instagram.com/{{ site.author.instagram }}/"><i class="ion-social-instagram-outline"></i></a></li>{% endif %}
                {% if site.author.twitter %}<li class="box-social"><a href="https://twitter.com/{{ site.author.twitter }}"><i class="ion-social-twitter"></i></a></li>{% endif %}

            </ul>


        </div>
        
    </div>
 <div class="container main-container clearfix">
         		<h1 class="text-center">
                    <span>
                        <b>Strumenti che utilizzo.</b>                                          
                    </span>
		</h1>
	 	<h3 class="text-center">Alcuni strumenti per sviluppare le tue richieste.</h3>

</div>
     

    <!-- end Main container -->
