---
layout: index
title: Grazie
tagline: ti ringrazio ti risponderò al più presto, tempo di legger e rispondere
css: 
js:
keywords: Graphic design, web marketing, web design, user experience
canonical: https://antoniotrento.github.io
---
{% include JB/setup %}

<div class="container-fluid">


  <!-- box-intro -->
  <section class="box-intro">
    <div class="table-cell">
                <h1 class="box-headline">
                    <span>
                        <b>Grazie!</b>                                          
                    </span>
		            </h1>
                <h3>Ti contattetò appena ricevuto il messaggio! <a href="#" data-toggle="tooltip" title="Per te posso creare, amministrare ed ospitare interfacce web  e darti tanti consigli per migliorare il tuo marketing" data-placement="bottom">serve</a> per avviare <span class="highlight-container"><span class="highlight">il tuo business su web.</span></span></h3>
		            <p>Posso chiederti un favore? Ho bisogno di un aiutino che a te non costa nulla e a me potrebbe fare la differenza, ti va di aiutarmi con una condivisione?</p>
                {% include social-share.html %}
    </div>	
  </section>
  <!-- end box-intro -->
	



</div>
