---
layout: index
title: Antonio Trento
tagline: Graphic design, web marketing, web design
css: 
js: 
keywords: Graphic design, web marketing, web design
canonical: https://antoniotrento.github.io
---
{% include JB/setup %}


        <!-- box-intro -->
        <section class="box-intro">
            <div class="table-cell">
                <h1 class="box-headline letters rotate-2">
                    <span class="box-words-wrapper">
            <b class="is-visible">help.</b>
            <b>on.</b>
            <b>web.</b>
                    </span>
		        </h1>
                <h5>ciò che serve per il tuo business online</h5>
            </div>

            <div class="mouse">
                <div class="scroll"></div>
            </div>
        </section>
        <!-- end box-intro -->
    </div>








    <!-- portfolio div -->
    <div class="portfolio-div">
        <div class="portfolio">
            <div class="no-padding portfolio_container">

	      {% assign counter = 1 %}
              {% for post in site.posts %}                  
                    <!-- single work -->
		    
		    {% if counter == 3 or counter == 6 or counter == 9 %}
		    <div class="col-md-6 col-sm-12">{% else %}<div class="col-md-3 col-sm-6">{%endif%}
                        <a href="{{ BASE_PATH }}{{ post.url }}" class="portfolio_item">
                            <img src="{{ BASE_PATH }}/assets/images/{{ post.img3 }}" alt="image" class="img-responsive" />
                            <div class="portfolio_item_hover">
                                <div class="portfolio-border clearfix">
                                    <div class="item_info">
                                        <span>{{ post.title }}</span>
                                        <em>{{post.tags | array_to_sentence_string: 'e'}}</em>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
		    {% assign counter=counter | plus:1 %}
	  	    			    
              {% endfor %} 
		    
            </div>
            <!-- end portfolio_container -->
        </div>
        <!-- portfolio -->
    </div>
    <!-- end portfolio div -->











